.sidebyside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #191919;
}

.splitHalf {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.justify {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .sidebyside {
        grid-template-columns: 1fr;
    }
}

.positionStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-content: center;
    padding: 1rem 0;
}

.positionStyle>* {
    position: relative
}

.positionStyle>*::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.5rem;
    height: 100%;
    width: 1px;
    background-color: white;
}

.positionStyle > :first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    height: 100%;
    width: 1px;
    background-color: white;
  }

  @media (max-width: 768px) {
    .positionStyle > *::before,
    .positionStyle > *::after {
      display: none;
    }
  }


@media screen and (max-width: 768px) {
    .positionStyle {
        grid-template-columns: 1fr;
    }
}

.positionItem {
    padding: 1rem;
}